|
        <a href="<%= help_privacy_path %>">Privacy and cookies</a>
        |

        Run by the non-profit organization <a href="http://okfn.se/">Open Knowledge Sweden</a>, built by <a href="http://www.mysociety.org/">mySociety</a> and powered by <a href="<%= help_alaveteli_path %>">Alaveteli</a>, <a href="https://github.com/mysociety/alaveteli/graphs/contributors">bidragsgivare</a>...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">and you</a>!
        |
        Dedicated to <a href="http://peterforsskal.com/">Peter Forsskål</a>, <a href="http://www.chydenius.net/eng/index.asp">Anders Chydenius</a>, <a href="https://en.wikipedia.org/wiki/Freedom_of_Press#Sweden">Freedom of the Press Act</a> and the <a href="https://en.wikipedia.org/wiki/Freedom_of_information_laws_by_country#Sweden">Principle of Public Access</a>.
