|        <a href="<%= help_privacy_path %>">Integritet och kakor</a>
        |
        Drivs av den ideella föreningen <a href="http://www.okfn.se/">Open Knowledge Sweden</a>, byggd av <a href="http://www.mysociety.org/">mySociety</a> och stärkt av <a href="<%= help_alaveteli_path %>">Alaveteli</a>, <a href="https://github.com/mysociety/alaveteli/graphs/contributors">bidragsgivare</a>...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">och dig</a>!
        |
        Dedikerad till <a href="http://peterforsskal.com/">Peter Forsskål</a>, <a href="http://www.chydenius.net/sve/index.asp">Anders Chydenius</a>, <a href="https://sv.wikipedia.org/wiki/Tryckfrihetsf%C3%B6rordningen">Tryckfrihetsförordningen</a> och <a href="https://sv.wikipedia.org/wiki/Offentlighetsprincipen">Offentlighetsprincipen</a>.
