According to the law, you do not always have the right to receive a public document in a digital format. It depends on the nature of the requested document. It is e.g. extremely important that the personal integrity is upheld as their may be sensitive data in a public document.

However there are otherwise many advantages and you always to have the right to digital and anonymous correspondence, (<a href="<%= help_page_url %>#full_address">more details</a>).

At the bottom of this page, write a reply to the authority explaining this to them.
