Enligt lagen har du inte alltid rätt att få ut en allmän handling i digitalt format. Det beror på karaktären av den begärda handlingen. Det är t.ex. extremt viktigt att den personliga integriteten upprätthålls då det kan förekomma känslig data i en allmän handling.

Men det finns annars många fördelar och du har alltid rätt till elektronisk och anonym korrespondens, läs (<a href="<%= help_page_url %>#full_address">mer information här</a>).

Längst ner på denna sida kan du skriva ett svar till myndigheten och förklara detta för dem.
